@using System.Net.Http.Json
@using CloakCare.Web.Data
@using CloakCare.Web.Data.Models
@using MudBlazor
@inject ISnackbar Snackbar

<div class="pt-5">
    <MudTable Items="@_appointments" Dense="false" Hover="true" Loading="_loading" ReadOnly="false" CanCancelEdit="true" Filter="new Func<Appointment, bool>(FilterFunc)"
              @bind-SelectedItem="_selectedItem" SortLabel="Sort By" CommitEditTooltip="Wijzig afspraak"
              RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
              RowEditCommit="RowEditCommitted" IsEditRowSwitchingBlocked="true" ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End" EditTrigger="TableEditTrigger.EditButton">
        <ToolBarContent>
            <MudText Class="d-none d-sm-flex" Typo="Typo.h6">Agenda</MudText>
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudButton Class="ml-5" Variant="Variant.Filled" Size="Size.Small" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@(AddAppointment)">Nieuw</MudButton>
            </MudHidden>
            <MudSpacer/>
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
        </ColGroup>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Appointment, object>(x => x.DateTime.Date)">Datum</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Appointment, object>(x => x.DateTime.TimeOfDay)">Tijd</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Appointment, object>(x => x.Name)">Afspraak</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Appointment, object>(x => x.Location)">Locatie</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Appointment, object>(x => x.Companion)">Begeleider</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Appointment, object>(x => x.TaxiOrdered)">Taxi</MudTableSortLabel>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Datum">@context.DateTime.Date.ToShortDateString()</MudTd>
            <MudTd DataLabel="Tijd">@context.DateTime.TimeOfDay.ToString("hh\\:mm")</MudTd>
            <MudTd DataLabel="Afspraak">@context.Name</MudTd>
            <MudTd DataLabel="Locatie">@context.Location</MudTd>
            <MudTd DataLabel="Begeleider">@context.Companion</MudTd>
            <MudTd DataLabel="Taxi"><MudSwitch @bind-Checked="@context.TaxiOrdered" ReadOnly="true" Color="Color.Info" /></MudTd>
            <MudTd>
                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Delete" Class="pa-0" OnClick="@(() => RemoveAppointment(context))"/>
            </MudTd>
        </RowTemplate>
        <RowEditingTemplate>
            <MudTd DataLabel="Datum">
                <MudDatePicker @ref="_datePicker" @onfocus="@(() => SetFocus(true))" DisableToolbar="true" Label="Datum" @bind-Date="_editDate" Editable="true" Required/>
            </MudTd>
            <MudTd DataLabel="Tijd">
                <MudTimePicker @ref="_timePicker" @onfocus="@(() => SetFocus(false))" DisableToolbar="true" Label="Tijd" @bind-Time="_editTime" Required/>
            </MudTd>
            <MudTd DataLabel="Afspraak">
                <MudTextField @bind-Value="@context.Name" Required/>
            </MudTd>
            <MudTd DataLabel="Locatie">
                <MudTextField @bind-Value="@context.Location" Required/>
            </MudTd>
            <MudTd DataLabel="Begeleider">
                <MudTextField @bind-Value="@context.Companion"/>
            </MudTd>
            <MudTd DataLabel="Taxi">
                <MudSwitch @bind-Checked="@context.TaxiOrdered" Color="Color.Info" />
            </MudTd>
        </RowEditingTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
        <EditButtonContent Context="button">
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled"/>
        </EditButtonContent>
    </MudTable>
</div>
<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <div Class="fixed fixed mr-10 mb-5 @(_isEditing ? "d-none" : "")" style="bottom: 0; right: 0">
        <MudFab Color="Color.Primary" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add" OnClick="@(AddAppointment)"/>
    </div>
</MudHidden>